[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
codacy-coverage = "*"
pytest = "*"

[packages]
datamodelutils = {path = ".",editable = true}
psqlgraph = {ref = "2.0.0",git = "https://git@github.com/uc-cdis/psqlgraph",editable = true}

[requires]
python_version = "2.7"
